<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="UploadPicturesLocal" value="true" />
    <add key="LocalImageFolder" value="C:\inetpub\wwwroot\GetYourCake4.0\images\artikelbilder\artikel" />
    <add key="FTPUrl" value="ftp://wi-gate.technikum-wien.at:60536/" />
    <add key="FTPUsername" value="Administrator" />
    <add key="FTPPassword" value="stdAdmPass4WinStudents" />
    <add key="FTPSubdirectory" value="/images/artikelbilder/artikel/" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CreateWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/FST4_Sync/CreateWebservice.asmx" binding="basicHttpBinding" bindingConfiguration="CreateWebServiceSoap" contract="CreateWebServiceReference.CreateWebServiceSoap" name="CreateWebServiceSoap" />
    </client>
  </system.serviceModel>
<connectionStrings><add name="FST4Entities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=FST4;user id=fst;password=fst;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>